# STEPS

- Data Cleaning and Preprocessing: Address missing values, possibly rename columns for ease of access, and convert data types where necessary.
- Exploratory Data Analysis (EDA): We'll focus on summarizing key metrics, identifying distributions of variables, and exploring relationships between different fields.
- Data Visualization: Based on the EDA, we'll create visualizations to help understand the data better. Given the request for a dashboard, we'll identify key metrics that could be interesting for an interactive visualization.
- Dashboard Development Approach: Discuss how we would approach building an interactive dashboard based on the findings from the EDA and the visualizations created.

# Data Cleaning and Preprocessing

In [7]:
# import all packages and set plots to be embedded inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb

%matplotlib inline

# suppress warnings from final output
import warnings
warnings.simplefilter("ignore")

In [4]:
# Replace 'path_to_your_file.csv' with the actual path to your CSV file
file_path = "C:/Users/terre/Downloads/VAP Sample .csv"
data = pd.read_csv(file_path)

In [5]:
data.head()

,Unnamed: 0,...1,Address_ID,Page.0,Timestamp,Section_consent_1,Hello..my.name.is..NAME....and.I.am.a.representative.of.the.Nigeria.Rural.Electrification.Agency..We.are.conducting.a.study.to.learn.about.the.electricity.usage.patterns.in.this.market..Shop.owners.and.operators.who.have.available.electrical.plugs.will.be.asked.to.participate.in.an.experiment.where.a.PowerWatch.sensor.is.inserted.into.an.electrical.plug.in.your.shop..The.PowerWatch.sensor.monitors...voltage.and.frequency.in.your.shop..Shop.owners.operators.will.not.be.required.to.handle.the.PowerWatch.sensor.at.any.time.during.the.experiment....,Section_consent_2,Participation.in.this.study.is.completely.voluntary.and.there.will.be.no.payment..You.may.not.directly.benefit.from.this.research..however..we.hope.your.participation.will.help.to.determine.how.much.electricity.is.required.by.this.market.and.how.best.to.sufficiently.provide.electricity.to.this.market.in.a.clean.and.sustainable.manner,Section_consent_3,...,X218..COLD.ROOM..50.TONNE.,X219..Is.the.COLD.ROOM..50.TONNE...Currently.Turned.On,Page.Break.10,X220..Comments.Recommendations.Observations,X221..Clamp.Meter.Reading.of.Personal.Generator,Lighting...Estimated.Power.Req....W.,Cooling...Estimated.Power.Req....W.,Others...Estimated.Power.Req....W.,Total...Estimated.Power.Req....W.,Additional.Load.from.Requested.Appliances
0,1,47,IGD--SEC(A)--LIN(2)--BL(3)--SNUM(94)--SLEV(0),NaN,04/07/2022 16:32,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
1,2,1012,Onitsha--SEC(B)--LIN(18)--BL(1)--SNUM(21590)--...,NaN,04/12/2022 10:21,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,30.0
2,3,3409,Onuimo--SEC(A)--LIN(64)--BL(1)--SNUM(1260)--SL...,NaN,04/01/2022 14:36,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
3,4,1611,OTK--SEC(A)--LIN(4)--BL(12)--SNUM(382)--SLEV(0),NaN,3/29/2022 12:07:20,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,1200,KTS--SEC(SECTION A)--LIN(LINE 2)--BL(BLOCK 21)...,NaN,5/20/2022 11:37:06,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,72.0,80.0,0.0,152.0,0.0

In [8]:
data.columns

Index(['Unnamed: 0', '...1', 'Address_ID', 'Page.0', 'Timestamp',
       'Section_consent_1',
       'Hello..my.name.is..NAME....and.I.am.a.representative.of.the.Nigeria.Rural.Electrification.Agency..We.are.conducting.a.study.to.learn.about.the.electricity.usage.patterns.in.this.market..Shop.owners.and.operators.who.have.available.electrical.plugs.will.be.asked.to.participate.in.an.experiment.where.a.PowerWatch.sensor.is.inserted.into.an.electrical.plug.in.your.shop..The.PowerWatch.sensor.monitors...voltage.and.frequency.in.your.shop..Shop.owners.operators.will.not.be.required.to.handle.the.PowerWatch.sensor.at.any.time.during.the.experiment....',
       'Section_consent_2',
       'Participation.in.this.study.is.completely.voluntary.and.there.will.be.no.payment..You.may.not.directly.benefit.from.this.research..however..we.hope.your.participation.will.help.to.determine.how.much.electricity.is.required.by.this.market.and.how.best.to.sufficiently.provide.electricity.to.this.market.in.a.clean.and.sustainable.manner',
       'Section_consent_3',
       ...
       'X218..COLD.ROOM..50.TONNE.',
       'X219..Is.the.COLD.ROOM..50.TONNE...Currently.Turned.On',
       'Page.Break.10', 'X220..Comments.Recommendations.Observations',
       'X221..Clamp.Meter.Reading.of.Personal.Generator',
       'Lighting...Estimated.Power.Req....W.',
       'Cooling...Estimated.Power.Req....W.',
       'Others...Estimated.Power.Req....W.',
       'Total...Estimated.Power.Req....W.',
       'Additional.Load.from.Requested.Appliances'],
      dtype='object', length=249)

In [9]:
data.shape

(3500, 249)

In [10]:
#Check for missing values
data.isnull().sum()

Unnamed: 0                                      0
...1                                            0
Address_ID                                      0
Page.0                                       3500
Timestamp                                       0
                                             ...
Lighting...Estimated.Power.Req....W.          265
Cooling...Estimated.Power.Req....W.           239
Others...Estimated.Power.Req....W.            239
Total...Estimated.Power.Req....W.             239
Additional.Load.from.Requested.Appliances     184
Length: 249, dtype: int64

In [11]:
# Count number of entries in each column
data.count()

Unnamed: 0                                   3500
...1                                         3500
Address_ID                                   3500
Page.0                                          0
Timestamp                                    3500
                                             ...
Lighting...Estimated.Power.Req....W.         3235
Cooling...Estimated.Power.Req....W.          3261
Others...Estimated.Power.Req....W.           3261
Total...Estimated.Power.Req....W.            3261
Additional.Load.from.Requested.Appliances    3316
Length: 249, dtype: int64

In [12]:
#Check for duplicates
data.duplicated().any()

False

In [13]:
# Drop columns with more than 50% missing values
threshold = len(data) * 0.5
data = data.dropna(thresh=threshold, axis=1)

# Drop rows with any missing values
data = data.dropna()

In [14]:
data.isnull().sum()

Unnamed: 0                                    0
...1                                          0
Address_ID                                    0
Timestamp                                     0
Do.you.agree.to.participate.in.this.study.    0
X1..Auditors.Name                             0
X2..GPS.Coordinates.of.the.Shop               0
X3..Market.Name                               0
X4...Group.                                   0
X5..Section                                   0
X6..Line                                      0
X7..Block.Number                              0
X8..Shop.Number..Visible.Tag.                 0
X9..Shop.Number..Count.                       0
X10..Shop.Level                               0
X11..Shop.Occupancy.Status                    0
X16..Contact.Information                      0
Lighting...Estimated.Power.Req....W.          0
Cooling...Estimated.Power.Req....W.           0
Others...Estimated.Power.Req....W.            0
Total...Estimated.Power.Req....W.             0
Additional.Load.from.Requested.Appliances     0
dtype: int64

In [15]:
data.shape

(2928, 22)

In [16]:
# Count number of entries in each column
data.count()

Unnamed: 0                                    2928
...1                                          2928
Address_ID                                    2928
Timestamp                                     2928
Do.you.agree.to.participate.in.this.study.    2928
X1..Auditors.Name                             2928
X2..GPS.Coordinates.of.the.Shop               2928
X3..Market.Name                               2928
X4...Group.                                   2928
X5..Section                                   2928
X6..Line                                      2928
X7..Block.Number                              2928
X8..Shop.Number..Visible.Tag.                 2928
X9..Shop.Number..Count.                       2928
X10..Shop.Level                               2928
X11..Shop.Occupancy.Status                    2928
X16..Contact.Information                      2928
Lighting...Estimated.Power.Req....W.          2928
Cooling...Estimated.Power.Req....W.           2928
Others...Estimated.Power.Req....W.            2928
Total...Estimated.Power.Req....W.             2928
Additional.Load.from.Requested.Appliances     2928
dtype: int64

In [18]:
data.head()

,Unnamed: 0,...1,Address_ID,Timestamp,Do.you.agree.to.participate.in.this.study.,X1..Auditors.Name,X2..GPS.Coordinates.of.the.Shop,X3..Market.Name,X4...Group.,X5..Section,...,X8..Shop.Number..Visible.Tag.,X9..Shop.Number..Count.,X10..Shop.Level,X11..Shop.Occupancy.Status,X16..Contact.Information,Lighting...Estimated.Power.Req....W.,Cooling...Estimated.Power.Req....W.,Others...Estimated.Power.Req....W.,Total...Estimated.Power.Req....W.,Additional.Load.from.Requested.Appliances
0,1,47,IGD--SEC(A)--LIN(2)--BL(3)--SNUM(94)--SLEV(0),04/07/2022 16:32,Accept,Auditor 4,"5.52xxxx, 5.76xxxx",Igbudu market,Closed Shop,A,...,94,62.0,GROUND FLOOR,OCCUPIED,xxxxxxxxxxx,0.0,0.0,0.0,0.0,0.0
1,2,1012,Onitsha--SEC(B)--LIN(18)--BL(1)--SNUM(21590)--...,04/12/2022 10:21,Accept,Auditor 5,"6.14xxxx, 6.77xxxx",Onitsha Main Market,Open Stall,B,...,21590,611.0,GROUND FLOOR,OCCUPIED,xxxxxxxxxxx,0.0,0.0,0.0,0.0,30.0
2,3,3409,Onuimo--SEC(A)--LIN(64)--BL(1)--SNUM(1260)--SL...,04/01/2022 14:36,Accept,Auditor 4,"5.55xxxx, 7.41xxxx",Industrial Market (Onuimo industrial and gener...,Closed Shop,A,...,1260,49.0,GROUND FLOOR,LOCKED UP,xxxxxxxxxxx,0.0,0.0,0.0,0.0,0.0
4,5,1200,KTS--SEC(SECTION A)--LIN(LINE 2)--BL(BLOCK 21)...,5/20/2022 11:37:06,Accept,Auditor 5,"12.9xxxx6, 7.60xxxx",Katsina Central Market,Closed Shop,SECTION A,...,1200,16.0,GROUND FLOOR,OCCUPIED,xxxxxxxxxxx,72.0,80.0,0.0,152.0,0.0
5,6,2872,OKJ--SEC(SECTION D)--LIN(LINE 3)--BL(20)--SNUM...,5/19/2022 11:14:07,Accept,Auditor 9,"6.81xxxx, 3.93xxxx",Oke-Aje Market,Closed Shop,SECTION D,...,1910,2.0,GROUND FLOOR,LOCKED UP,xxxxxxxxxxx,0.0,0.0,0.0,0.0,0.0

In [19]:
# Check the dtypes to confirm the conversions
print(data.dtypes)

Unnamed: 0                                      int64
...1                                            int64
Address_ID                                     object
Timestamp                                      object
Do.you.agree.to.participate.in.this.study.     object
X1..Auditors.Name                              object
X2..GPS.Coordinates.of.the.Shop                object
X3..Market.Name                                object
X4...Group.                                    object
X5..Section                                    object
X6..Line                                       object
X7..Block.Number                               object
X8..Shop.Number..Visible.Tag.                  object
X9..Shop.Number..Count.                       float64
X10..Shop.Level                                object
X11..Shop.Occupancy.Status                     object
X16..Contact.Information                       object
Lighting...Estimated.Power.Req....W.          float64
Cooling...Estimated.Power.Req....W.           float64
Others...Estimated.Power.Req....W.            float64
Total...Estimated.Power.Req....W.             float64
Additional.Load.from.Requested.Appliances     float64
dtype: object

In [20]:
# Convert a column to datetime
# Assuming 'Timestamp' is the column you want to convert
data['Timestamp'] = pd.to_datetime(data['Timestamp'], errors='coerce')

# Convert categorical columns to 'category' dtype
# Assuming these columns are categorical in your dataset
categorical_columns = ['X3..Market.Name', 'X11..Shop.Occupancy.Status', 'X4...Group.', 'X10..Shop.Level']
for col in categorical_columns:
    data[col] = data[col].astype('category')

In [21]:
# Check the dtypes to confirm the conversions
print(data.dtypes)

Unnamed: 0                                             int64
...1                                                   int64
Address_ID                                            object
Timestamp                                     datetime64[ns]
Do.you.agree.to.participate.in.this.study.            object
X1..Auditors.Name                                     object
X2..GPS.Coordinates.of.the.Shop                       object
X3..Market.Name                                     category
X4...Group.                                         category
X5..Section                                           object
X6..Line                                              object
X7..Block.Number                                      object
X8..Shop.Number..Visible.Tag.                         object
X9..Shop.Number..Count.                              float64
X10..Shop.Level                                     category
X11..Shop.Occupancy.Status                          category
X16..Contact.Information                              object
Lighting...Estimated.Power.Req....W.                 float64
Cooling...Estimated.Power.Req....W.                  float64
Others...Estimated.Power.Req....W.                   float64
Total...Estimated.Power.Req....W.                    float64
Additional.Load.from.Requested.Appliances            float64
dtype: object

In [22]:
data.head()

,Unnamed: 0,...1,Address_ID,Timestamp,Do.you.agree.to.participate.in.this.study.,X1..Auditors.Name,X2..GPS.Coordinates.of.the.Shop,X3..Market.Name,X4...Group.,X5..Section,...,X8..Shop.Number..Visible.Tag.,X9..Shop.Number..Count.,X10..Shop.Level,X11..Shop.Occupancy.Status,X16..Contact.Information,Lighting...Estimated.Power.Req....W.,Cooling...Estimated.Power.Req....W.,Others...Estimated.Power.Req....W.,Total...Estimated.Power.Req....W.,Additional.Load.from.Requested.Appliances
0,1,47,IGD--SEC(A)--LIN(2)--BL(3)--SNUM(94)--SLEV(0),2022-04-07 16:32:00,Accept,Auditor 4,"5.52xxxx, 5.76xxxx",Igbudu market,Closed Shop,A,...,94,62.0,GROUND FLOOR,OCCUPIED,xxxxxxxxxxx,0.0,0.0,0.0,0.0,0.0
1,2,1012,Onitsha--SEC(B)--LIN(18)--BL(1)--SNUM(21590)--...,2022-04-12 10:21:00,Accept,Auditor 5,"6.14xxxx, 6.77xxxx",Onitsha Main Market,Open Stall,B,...,21590,611.0,GROUND FLOOR,OCCUPIED,xxxxxxxxxxx,0.0,0.0,0.0,0.0,30.0
2,3,3409,Onuimo--SEC(A)--LIN(64)--BL(1)--SNUM(1260)--SL...,2022-04-01 14:36:00,Accept,Auditor 4,"5.55xxxx, 7.41xxxx",Industrial Market (Onuimo industrial and gener...,Closed Shop,A,...,1260,49.0,GROUND FLOOR,LOCKED UP,xxxxxxxxxxx,0.0,0.0,0.0,0.0,0.0
4,5,1200,KTS--SEC(SECTION A)--LIN(LINE 2)--BL(BLOCK 21)...,2022-05-20 11:37:06,Accept,Auditor 5,"12.9xxxx6, 7.60xxxx",Katsina Central Market,Closed Shop,SECTION A,...,1200,16.0,GROUND FLOOR,OCCUPIED,xxxxxxxxxxx,72.0,80.0,0.0,152.0,0.0
5,6,2872,OKJ--SEC(SECTION D)--LIN(LINE 3)--BL(20)--SNUM...,2022-05-19 11:14:07,Accept,Auditor 9,"6.81xxxx, 3.93xxxx",Oke-Aje Market,Closed Shop,SECTION D,...,1910,2.0,GROUND FLOOR,LOCKED UP,xxxxxxxxxxx,0.0,0.0,0.0,0.0,0.0

In [23]:
cleaned_data = data

In [26]:
# Save the DataFrame to a CSV file in the current directory
data.to_csv('cleaned_data.csv', index=False)

In [27]:
import os
print(os.getcwd())

C:\Users\terre\Documents\CODES\VAP PROJECT

Numerical Data:

Shop Number Count: The only numerical column summarized here, with a mean of approximately 63.67, a minimum of 0, and a maximum of 1540. The distribution appears to be right-skewed given the large difference between the mean and median (50th percentile), indicating that while most shops have a lower count number, there are outliers with significantly higher counts.

Categorical Data:

Address_ID: There are 3500 unique Address IDs, indicating a wide range of locations covered in the dataset.

Consent to Participate: Only 2 unique responses, likely "Accept" and another response indicating non-consent.

Auditors Name: 45 unique auditors contributed to this dataset.

GPS Coordinates: There are 67 unique GPS coordinates, suggesting the geographical spread of the shops.

Market Name: 70 unique market names, highlighting the diversity of markets surveyed.

Shop Group: 2 unique responses, indicating possibly different types of shop settings or ownership statuses.

Section, Line, Block Number, and Shop Number: A large range of unique values, reflecting the detailed categorization of shop locations within markets.

Shop Level: 6 unique levels, which could indicate different floors or elevation levels where the shops are located.

Shop Occupancy Status: 12 unique statuses, detailing the operational status of the shops.

Contact Information: Only 1 unique value, which might be a placeholder given privacy considerations.

Distribution of Shop Number Count:

The histogram shows a right-skewed distribution, indicating that most shops have a relatively low shop number count, with a few outliers having significantly higher counts. This suggests variability in shop sizes or capacities.

Breakdown of Consent to Participate:

The count plot indicates the distribution of consent among the participants. This highlights the level of participation willingness among shop owners/operators in the study.

Top 10 Markets by Number of Shops:

This visualization presents the markets with the highest number of shops included in the study. It illustrates the diversity and concentration of shops across different markets, providing insights into where the most data was collected.

Conclusions and Next Steps for Data Analysis:

The exploratory data analysis and visualizations offer a foundational understanding of the dataset's characteristics, including the distribution of numerical variables and the prevalence of categories within categorical variables. These insights can inform further in-depth analyses, such as:

Investigating the relationship between shop occupancy status and other variables to identify patterns or trends.

Exploring the geographical distribution of shops using GPS coordinates to understand spatial patterns in electricity usage or shop characteristics.

Analyzing the impact of shop size (as indicated by shop number count) on participation consent rates or other variables of interest.